In [65]:
import pandas as pd
from pandas import datetime

In [66]:
def parser(x):
    return datetime.strptime(x,'%d-%m-%Y')

In [67]:
df=pd.read_csv('data.csv',index_col=0,date_parser=parser,parse_dates=[0])

In [68]:
df.tail()

,Acidity,Urti,Indigestion,Hypertension,Dehydration,Low BP,Oral ulcer,Anaemia,old abbrassion,Fungal infection,...,Dysentary,Systeric HTN,acute torillitis,follicular torillitis,Burn,Lethargy,Blood Clot,Jaundice,Ankle Twist,Concentrated Urine
Date,,,,,,,,,,,,,,,,,,,,,
2018-12-22,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-12-24,1,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-12-27,2,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-12-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-12-31,1,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
sorted_data=df.sum().sort_values(ascending=False)

In [70]:
sorted_data.index

Index(['Urti', 'Cough_Cold', 'Acidity', 'Indigestion', 'Fungal infection',
       'Fever', 'Itching', 'Oral ulcer', 'injury/cut', 'Headache',
       'General weakness', 'Back pain', 'Running nose', 'Ring worm',
       'Lethargy', 'Diarrhoea', 'Swelling', 'Giddiness', 'Dysentary',
       'allergy', 'Myalgia', 'Throat pain', 'Vomitting', 'Loss of appetite',
       'APD', 'foot pain', 'Hypertension', 'LRTI', 'vertigo',
       'Epigastric pain', 'pharyngotis', 'Ear Infection', 'Abdomen pain',
       'old abbrassion', 'Knee pain', 'Worm infection', 'Systeric HTN', 'Burn',
       'Low BP', 'Anaemia', 'Dehydration', 'Concentrated Urine', 'GAD',
       'Gastritis', 'Breathlessness', 'Hairfall', 'Ankle Twist',
       'Vitamin Deficiency', 'Asthama', 'pain wrist', 'watering of eye',
       'acute torillitis', 'follicular torillitis      ', 'Blood Clot',
       'Jaundice', 'Rheumatic fever'],
      dtype='object')

In [71]:
cols_to_extract=[sorted_data.index[i] for i in range(5)]

In [72]:
cols_to_extract

['Urti', 'Cough_Cold', 'Acidity', 'Indigestion', 'Fungal infection']

In [73]:
type(df[[i]])

pandas.core.frame.DataFrame

In [74]:
df[[i]]

            Fungal infection
Date
2018-06-20                 0
2018-06-21                 0
2018-06-22                 1
2018-06-25                 0
2018-06-27                 0
...                      ...
2018-12-22                 0
2018-12-24                 0
2018-12-27                 0
2018-12-29                 0
2018-12-31                 0

[122 rows x 1 columns]

In [75]:
for i in cols_to_extract:
    d_temp=df[[i]]
    d_temp.to_csv('individual disease data/'+i+".csv")

In [76]:
d_temp

            Fungal infection
Date
2018-06-20                 0
2018-06-21                 0
2018-06-22                 1
2018-06-25                 0
2018-06-27                 0
...                      ...
2018-12-22                 0
2018-12-24                 0
2018-12-27                 0
2018-12-29                 0
2018-12-31                 0

[122 rows x 1 columns]

In [60]:
type(d_temp)

pandas.core.series.Series