In [4]:
import pandas as pd
from pandas import datetime

In [14]:
def parser(x):
    return datetime.strptime(x,'%Y-%m-%d')

In [23]:
df=pd.read_csv('prepared_individual_data/Cough_Cold.csv',index_col=0,parse_dates=[0],date_parser=parser)

In [26]:
df[18:50]

            Cough_Cold
Date
2018-06-19           0
2018-06-20           0
2018-06-21           0
2018-06-22           2
2018-06-23           0
2018-06-24           0
2018-06-25           0
2018-06-26           0
2018-06-27           0
2018-06-28           2
2018-06-29           2
2018-06-30           0
2018-07-01           0
2018-07-02           0
2018-07-03           0
2018-07-04           0
2018-07-05           2
2018-07-06           0
2018-07-07           0
2018-07-08           0
2018-07-09           0
2018-07-10           1
2018-07-11           0
2018-07-12           1
2018-07-13           0
2018-07-14           0
2018-07-15           0
2018-07-16           0
2018-07-17           1
2018-07-18           0
2018-07-19           0
2018-07-20           0