In [2]:
import pandas as pd
from pandas import datetime

In [3]:
def parser(x):
    return datetime.strptime(x, '%Y-%m-%d')

In [5]:
df_acidity = pd.read_csv('Acidity.csv', index_col=[0], date_parser = parser, parse_dates=[0])
df_acidity.head()

            Acidity
Date
2018-06-20        2
2018-06-21        0
2018-06-22        1
2018-06-25        0
2018-06-27        0

In [6]:
type(df_acidity)

pandas.core.frame.DataFrame

In [12]:
df_temp = df_acidity['Acidity']
type(df_temp)

pandas.core.series.Series

In [14]:
df_temp.index = pd.DatetimeIndex(df_temp.index)
df_temp.index

DatetimeIndex(['2018-06-20', '2018-06-21', '2018-06-22', '2018-06-25',
               '2018-06-27', '2018-06-28', '2018-06-29', '2018-06-30',
               '2018-07-02', '2018-07-04',
               ...
               '2018-12-15', '2018-12-17', '2018-12-19', '2018-12-20',
               '2018-12-21', '2018-12-22', '2018-12-24', '2018-12-27',
               '2018-12-29', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=122, freq=None)

In [22]:
idx = pd.date_range('2018-06-20', '2018-12-31', name="Date")
idx

DatetimeIndex(['2018-06-20', '2018-06-21', '2018-06-22', '2018-06-23',
               '2018-06-24', '2018-06-25', '2018-06-26', '2018-06-27',
               '2018-06-28', '2018-06-29',
               ...
               '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25',
               '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-29',
               '2018-12-30', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=195, freq='D')

In [23]:
df_temp = df_temp.reindex(idx, fill_value=0)

In [25]:
df_acidity = df_temp.to_frame()
df_acidity.to_csv('Acidity.csv')
df_acidity

            Acidity
Date
2018-06-20        2
2018-06-21        0
2018-06-22        1
2018-06-23        0
2018-06-24        0
...             ...
2018-12-27        2
2018-12-28        0
2018-12-29        0
2018-12-30        0
2018-12-31        1

[195 rows x 1 columns]